body {
    font-family: "Poppins", sans-serif;
    text-align: center;
    background: linear-gradient(135deg, #ffe4ec, #ffe9d6);
    min-height: 100vh;
    padding: 20px;
}

h1 {
    font-size: 28px;
    margin-bottom: 15px;
}

.input-box input {
    padding: 12px;
    width: 200px;
    border-radius: 8px;
    border: 1px solid #777;
    font-size: 14px;
}

.input-box button {
    padding: 12px 15px;
    margin-left: 5px;
    border: none;
    background: #ff6fa8;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
}

button:hover {
    opacity: 0.85;
}
